#about>h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #244657;
  text-transform: uppercase;
  font-weight: 100;

  line-height: 1.1em;

}

#about>h3 {
  text-align: center;
  text-align: center;
  margin-bottom: 20px;
  color: #244657;
  text-transform: uppercase;
  font-weight: 100;

  line-height: 1.1em;
}

.col-md-8{
  display: grid;
  grid-template-columns: 1000px 400px;

}

#text-sec {
  margin-left: 10px;
}

.about {
  width: 300px;
  position: relative;
  top: 170px;
  left: -50px;
}

.txt {
  text-align: justify;
  width: 700px;
}

.about_acm {
  width: 250px;
}
.head{
  justify-content: center;
}
.parent-div{
  display: grid;
  grid-template-columns: 250px 270px 500px;
}

/* .txt{
  width: 800px;
} */
.about1{
  width: 200px;
  position: relative;
  top: 10px;
}
.acm-head{
  width: 700px;
}
#about{
  position: relative;
  top: 25px;

}
.about-sec{
  width: 100%;
  max-width: 1200px;
  margin-left: 50px;
}
